In [ ]:
import numpy as np

def encode(a):
    shifted = np.empty(a.size, dtype=np.int32)
    shifted[:-1:] = a[1::]
    shifted[-1]   = -100
    print(shifted)
    b = shifted != a
    print(b)
    
    
    return None

x = np.array([1, 2, 2, 3, 3, 1, 1, 5, 5, 2, 3, 3])
print(encode(x))

# TODO

# Избранное ДЗ <a name="hmwrk"></a>

0. Создать квадратную матрицу размера 8, на главной диаг. арифметическая прогрессия с шагом 3 (начиная с 3), а на побочной -1, остальные элементы 0.

In [ ]:
a = -1*np.eye(8)[::-1] + np.diag(np.arange(3, 27, 3))
print(a)

1. Implementing matrix multiplication.

In [ ]:
def no_numpy_mult(first, second):
    """
    param first: list of "size" lists, each contains "size" floats
    param second: list of "size" lists, each contains "size" floats
    """
    sz = len(first)
    return [ [sum( [first[i][k]*second[k][j] for k in range(sz)] ) for j in range(sz)] for i in range(sz) ]

def numpy_mult(first, second):
    """
    param first: np.array[size, size]
    param second: np.array[size, size]
    """

    return np.dot(first, second)

2. Implementing vector product.

In [ ]:
## Way one:
def no_numpy_scalar(v1, v2):
    result = sum( [v1[k]*v2[k] for k in range(len(v1)) ] )
    return result
## Way two:
def no_numpy_scalar(v1, v2):
    result = sum( list(map(lambda x, y: x * y, v1, v2)) )
    return result
## Way three:
def no_numpy_scalar(v1, v2):
    result = sum( [x * y for x, y in zip(v1, v2)] )
    return result

3. Сумма четных элементов на главной диагонали квадратной матрицы.

In [ ]:
# One.
def diag_2k(a):    
    #param a: np.array[size, size]
    diag = np.diagonal(a)
    return np.sum( diag[diag % 2 == 0] )

# Two.
def diag_2k(a):    
    #param a: np.array[size, size]
    return np.trace( a * (a%2 == 0) )

4. Мегаслайсинг

In [ ]:
import numpy as np
# Необходимо построить новый массив, где все элементы с нечетными индексами требуется заменить на число a (значение по умолчанию a=1). 
# Все элементы с четными индексами нужно возвести в куб. 
# Затем записать элементы в обратном порядке относительно их позиций. 
# В конце требуется слить массив xx с преобразованным xx и вернуть на выход функции 
# My solution:
def transform(X, a=1):
    """
    param X: np.array[batch_size, n]
    """

    Y = np.empty( (X.shape[0], X.shape[1] * 2) , dtype=np.int64)
    for i in range(X.shape[0]):
        row = np.copy(X[i])
        idx = np.indices(row.shape)
        row[ idx[0] % 2 == 1 ] = a
        row[ idx[0] % 2 == 0 ] = row[ idx[0] % 2 == 0 ] * row[ idx[0] % 2 == 0 ] * row[ idx[0] % 2 == 0 ]
        Y[i] = np.concatenate( (X[i], row[::-1]) )

    return Y
# Better:
def transform(X, a=1):
    Y = np.copy(X)
    Y[:, 1:2] = a
    Y[:, 0:2] **= 3
    return np.hstack(X, Y[:, ::-1])

# Numpy <a name="numpy"></a> (Numerical Python)

**See https://numpy.org/doc/stable/user/absolute_beginners.html**

## 1D Arrays

In [ ]:
import numpy as np
b = np.array( [1, 2, 3], dtype='int64' ) # Convert a python list to numpy.ndarray.
print(type(b))
c = np.array( [1, 2, 3] )  # int64 is already the default.
print(type(c[0]))
d = np.array( [1., 2, 3] ) # float64 is the default for float values.
print(type(d[0]))

### Properties and Generation

In [ ]:
# Help
# np.lookfor('median') # ? * are also available.

# Properties
a = np.array([[[1, 2, 3, 4],
                [2, 3, 4, 3],
                [1, 1, 1, 1]], 
                [[1, 2, 3, 4],
                [2, 3, 4, 3],
                [1, 1, 1, 1]]])
print("len:", len(a), "-- количество элементов по первой оси.",
      "\nsize:", a.size, "-- всего элементов в матрице.",
      "\nndim:", a.ndim, "-- размерность матрицы.",
      "\nshape:", a.shape, "-- количество элементов по каждой оси."
      "\nnbytes:", a.nbytes, "-- размер матрицы в байтах.",
      "\ndtype:", a.dtype, "-- тип элементов матрицы.")

# Generating an array
a = np.zeros(7, dtype='int64') # float64 here by default
b = np.ones(7, dtype='int16')
c = np.zeros_like(b)           # copies everything, dtype included
print(c.dtype)

# ARANGE - RETURN NDARRAY OF EVENLY SPACED VALUES WITHIN A GIVEN INTERVAL, FOCUS ON STEP
a = np.arange(1, 16, 4) # [begin, end), step == range(1, 16, 4) here.
# LINSPACE - RETURN NDARRAY OF EVENLY SPACED VALUES WITHIN A GIVEN INTERVAL, FOCUS ON POINTS
a = np.linspace(1, 16, 10) # [begin, end], length
b = np.logspace(0, 3, 12)  # evenly spaced on a base 10 log scale, from 10e0 to 10e3,

**NB: Avoid using ndarrays in loops**

## Operations on 1D-Arrays

### Element-wise operations

In [ ]:
# A + B, A - B, A / B, A * B
a = np.linspace(1, 10, 10, dtype='int64')
b = np.linspace(10, 20, 10, dtype='int64')

# ALPHA * A
a * 5, b + 10, a ** 2

# IMPLICIT CASTS TO BIGGER ELEMENTS
print(a + np.arange(10, dtype='int16'))
print(type(a[0]))

# UFUNCS - functions applied in element-wise fashion.
np.cos(a)
np.log(b)

x = np.linspace(-4*np.pi, 4*np.pi, 100)
np.all((np.sin(x)**2 + np.cos(x)**2).round() == 1)

# LOGICAL
print(a > b)
print(a > 5)

# ANY (E), ALL (V)
a = np.arange(10., 20)
print( np.any(a >= 10.), np.all(a > 15), sep=' ' )

# INPLACE OPS
a += np.sin(4) # *= /=, arrays also work

# Constants
print(np.e, np.pi)

# CUMSUM - заменить на посл. частичных сумм
b = np.arange(1, 21)
print(f'{b}\n{b.cumsum()}')

**There are no exceptions on zero devision**

In [ ]:
print(np.array([0.0, 0.0, 1.0, -1.0]) / np.array([1.0, 0.0, 0.0, 0.0]))

### Algos

In [ ]:
# SORT
a = np.array([1, 5, 6, 10, -2, 0, 18])
print(np.sort(a), a) # np.SORT DOES NOT CHANGE ITS ARGUMENT.
a.sort()             # SORT DOES.
print(a)

# JOIN
b = np.linspace(1, 10, 20)
print( np.hstack( (a, b) ) )
# help(np.hstack) ## There are different ways of doing that.

### Not element-wise operations

In [ ]:
a = np.arange(1, 11) # The operations below do NOT change their argument (i.e. a).
print( np.delete(a, [0, 5, 9] ) )  # Delete elements at idxs 0, 5, 9. You can also pass a tuple or an ndarray.
print( np.insert(a, 2, [-100, +100]) ) # Insert [-100, +100] so that -100 has its idx = 2.
print( np.append(a, [-0.1, +0.1, 0.0]) )

## Indexing and slicing

In [ ]:
# Reverse an array.
a = np.arange(1, 11)
print(a[::-1])

# Slicing merely makes a referece to a portion of an array.
b = a[0:6]
b[-1] = -10
print(a) # Note that something like b = np.append(b, [-1, 1]) wouldn't change a.
# To avoid that behaviour, use np.copy():
b = np.copy(a)

# Slicing with steps.
print(a)
b = a[0:6:2] # [begin, end), step
print(b)

# Indexing with an array of idxs.
print(a[ [0, 7, -1] ])

## 2D Arrays

### Specific operations <a name="specific_ops"></a>

In [ ]:
# Making an array by hand.
a = np.array( [
    [1, 2],
    [3, 4]
] ) 
print(a, a.ndim)

# Indexing ndim arrays
print(a[1][1], a[1, 1])

# Multiplication
a = 5 * np.ones( (3, 3) )
print(a)
b = 3 * np.eye( 3 )
print(a*b) # element-wise

# Matrix multiplication
print(a @ b)
print(a.dot(b))
print(np.dot(a, b))

# Meshgrind does idk what

### Shaping

In [ ]:
# Reshaping
b = np.arange(0, 20)
b.shape = [2, 10] # tuples also work
print(b)
print(b.ravel())  # Make it 1D, DOES NOT change its object.
b = b.ravel()
print(b.reshape(2, 10))       # Does the same thing as b.shape = ...
print(np.reshape(b, (2, 10))) # Again

# Generating, omiting the second number results in an 1D array of the specified length. 
a = np.ones( (2, 3) )
b = np.zeros( (2, 3) )
c = np.eye( 3 )
d = np.diag( [1, 2, 3, 4] )
print(a, b, c, d, sep='\n')

### Masks & traces

Masks are boolean arrays indicating if an element of the same idx should be included in the result when the mask is applied.

In [ ]:
# Masks.
a = np.arange(20)
print(a % 3 == 0) # That yields an array of bools, see operations on 1D arrays.
print(a[ a % 3 == 0 ]) # Couple that with np.ones(..., dtype=bool) below.

# Traces.
b = np.diag( a[ a>=10 ] )
print(b)
print(np.trace(b))

**NB: You can generate bool-type arrays using np.ones**

In [ ]:
a = np.ones((10, 10, 10), dtype=bool) # Notice how the second dim defaults to 1 here.
print(a)

In [ ]:
# Cool problem:
# Создать квадратную матрицу размера 8, на главной диаг. арифметическая прогрессия с шагом 3 (начиная с 3), 
# а на побочной -1, остальные элементы 0.
a = -1*np.eye(8)[::-1] + np.diag(np.arange(3, 27, 3))
print(a)

## ND Arrays

In [ ]:
A = np.arange(64).reshape(8, 2, 4)
print(A) # 8 layers -> 2 rows -> 4 columns
print(A.shape, A.ndim, A.size, len(A))

In [ ]:
print(np.sum(A, axis=0)) # Sum of all layes, "removes" the first axis.
!echo $((0 + 8 + 16 + 24 + 32 + 40 + 48 + 56)) 
print(np.sum(A, axis=1)) # Sum of rows within each layer, "removes" the second axis.
print(np.sum(A, axis=2)) # Sum of cols within each layer.

print(np.sum(A, axis=(1, 2))) # Sum of rows and cols right after. Each layer gets "replaced" with a sum.
# For a fixed i sums all elements indexed as (i, *, *).

## Linear Algebra

In [ ]:
# Determinant.
a = np.array( [ [1, 2], [2, 3] ] )
print(np.linalg.det(a) )

# Inverse.
b = np.linalg.inv(a)
print(a @ b, b @ a, sep='\n')

# If the matrix is singular:
c = np.array([[2, 1], [6, 3]])
print(c)
print(np.linalg.det(c)) 
try:
    np.linalg.inv(c)
except:
    print("Oops!")

# Solving a СЛАУ.
# 2x + y  = 5     |  (2, 1) (x) = (5)
# 2x + 3y = -10   |  (2, 3) (y) = (-10)
b = np.array( [5, -10] )
a = np.array([[2, 1], [2, 3]])
print(np.linalg.solve(a, b))
print(a @ np.linalg.solve(a, b))

# СВ и СЗ
vals, vecs = np.linalg.eig(a.T) # T!!!
print(vals, vecs, sep='\n')

# Pandas

## pd.Series - a column of data

### Making a series

In [ ]:
import pandas as pd
import numpy as np

# SERIES CREATION
ser = pd.Series( range(0,10) )         # Using an iterable.
ser = pd.Series( np.array([1, 2, 3]) ) # Using an array-like object. Indexed as 0, 1, 2.
ser = pd.Series( [ np.array([1, 2, 3]), np.array([-1, -2, -3]) ] ) # ser[0][0] yields 1.

data = [1, 2, 3, np.nan, 6, 8]  # np.nan is a float value meaning a gap in data. 
ser  = pd.Series(data, index=['day one', 'day two', 'day 3', '4', '5', 'six'], name='Some random stuff')
print(ser['day two'])
print(ser); print()

ser = pd.Series([1, 2, 3])
print(ser[1]) # ser['1'] is an error.

### Indexing & slicing

In [ ]:
# SLICING
data = [1, 2, 3, np.nan, 6, 8]  # np.nan is a float value meaning a gap in data. 
ser  = pd.Series(data, name='Exemplary series')
print(ser, '\n----------------')
print(ser[2:-1], '\n----------------') # NB: you cannot use -1 as an idx (i.e. ser[-1]) since -1 is not a valid KEY.
print(ser[5:3:-1]) # 3:5 yields nothing.

In [18]:
# CONDITIONAL INDEXING
import numpy as np
date_range = pd.date_range('20230101', periods=10)
series     = pd.Series(np.random.rand(10), date_range) # implicitly index=date_range.
print(series,'\n-----------------------')

print(series[ series > 0.5 ]) # series > 0.5 returns a series with the same indexes but True/False as corresponding values.
# So yes, it is possible to use a series of bool values as a mask (index) for any another series of the same size.
print('-----------------------')

print(series[ (series > 0.8) | (series < 0.1) ]) # Using logical operators. & and ^ are also supported.
series = (series == 'female').astype(int) # A way to sub binary string values (e.g. male and female) with 0 and 1 for easier data processing.

2023-01-01    0.581458
2023-01-02    0.251808
2023-01-03    0.548128
2023-01-04    0.211399
2023-01-05    0.732869
2023-01-06    0.327858
2023-01-07    0.452773
2023-01-08    0.438470
2023-01-09    0.809808
2023-01-10    0.021223
Freq: D, dtype: float64
-----------------------
2023-01-01    0.581458
2023-01-03    0.548128
2023-01-05    0.732869
2023-01-09    0.809808
dtype: float64
-----------------------
2023-01-09    0.809808
2023-01-10    0.021223
Freq: D, dtype: float64

### Sorting

In [ ]:
import numpy as np
date_range = pd.date_range('20230101', periods=4)
series     = pd.Series(np.random.rand(4), date_range) # implicitly index=date_range.
print(series,'\n-----------------------')

# NB: none of sorts below CHANGE the series. Use = to change it.
print(series[::-1].sort_index()) # Sorting by indexes, [::-1] so that it actually sorts :)
print('-----------------------') 
print(series.sort_values())      # By values.

### Operations on Series

In [ ]:
import numpy as np
date_range = pd.date_range('20230101', periods=6)
series     = pd.Series(np.random.rand(6), date_range) # implicitly index=date_range.

# Unary opsm, numpy ufuncs.
series + 100 # *5, /2, etc
series *= 10
np.exp(series)
np.cos(series)

# Binary ops.
date_range = pd.date_range('20230101', periods=4)
series2 = pd.Series(np.random.rand(4), date_range) # low, high, quantity.
#print(series, series2, sep='\n')
print(series + series2) # Indexes must be the same for this to work. Notice how you get NaNs.

# Parameters.
print(f'Size: {series.size}, shape: {series.shape}, ndim: {series.ndim}')

## pd.DataFrame - a table

### Creation

In [ ]:
# From a dictionary
dict = {'key_one': pd.Series( [1,2,3], index=['a', 'b', 'c'] ),
        'key_two': pd.Series( [1.,2.,3.,4.], index=['a','b','c','d'] ),
        'key_three': pd.Series( ['hey', 'wow'], index=[1, 2] )}
# Column name = key, data = data_of_key
df = pd.DataFrame(dict)
print(df)
print('---------------------')

# From a list of lists
import numpy as np
array_like = [ [1, 3, 5], [7, 9, 11], [2, 4, 6], [np.nan, -1, 2.2] ] # The line below does the same in term of creating a df.
#array_like = np.array( [ np.array([1,3,5]), np.array([7,9,11]), np.array([2,4,6]), np.array([np.nan, -1, 2.2]) ] )
df = pd.DataFrame(array_like, index=['ling', 'yi', 'er', 'san'], columns=['zero', 'one', 'two'])
print(df) # By default index and columns are simpy numbers from zero to whatever (illustrated by spelling them out in the example).

### Getting all data, setting columns & idx

In [ ]:
import numpy as np
array_like = [ [1, 3, 5], [7, 9, 11], [2, 4, 6], [np.nan, -1, 2.2] ]
df = pd.DataFrame(array_like, index=['ling', 'yi', 'er', 'san'], columns=['zero', 'one', 'two'])
print(df, '\n-----------------------')

print(df.values) # Retuns a numpy.ndarray.
print(df.columns) # Retuns a pandas.Index. (?)
print(df.index)
print('-------------------')
df.columns = np.array(['col1', 'col2', 'col3']) # Yes, that works too. Though a simple list is much better here.
df.index   = [1, 2, 3, 4]
print(df)

### Indexing a df

**INDEXED AS [COLUMN][ROW]! NOT THE MATRIX WAY.**

In [ ]:
import numpy as np
array_like = [ [1, 3, 5], [7, 9, 11], [2, 4, 6], [np.nan, -1, 2.2] ]
df = pd.DataFrame(array_like, index=['ling', 'yi', 'er', 'san'], columns=['zero', 'one', 'two'])
print(df, '\n-----------------------1')

# COLUMN INDEXING

print( df['zero'] ) # Returns a pandas.Series.
# print(df.zero)    # Same thing. 
print( df['zero']['er'], '\n-----------------------2')
# print( df['ling']['two'] ) # Error!

sub_df = df[ ['zero', 'two'] ][1:3] # Returns a DataFrame.
print(sub_df, '\n-----------------------3')
sub_df = df[['zero']] # In case we want a DataFrame, not a Series.

In [ ]:
# ROW INDEXING
print(df, '\n-----------------------1')
# You can slice, of course:
print(df[:1], '\n-----------------------2')
print(df[1:4], '\n-----------------------3') # [low, high)

# Purely integer-based indexing for selection by position:
print( df.iloc[1:3, 1] ) # Row, col. Slicing works on both. THE RIGHT EDGE IS NOT INCLUDED!
print('-----------------------4')
# Label-based indexing for selection by position:
print( df.loc['yi':'er', ['zero', 'two']] ) # THE RIGHT EDGE IS INCLUDED!
# Doing smth like 1:3 here result in an error since 1 and 3 are not KEYS.
print('-----------------------5')
print( df.loc['yi']) # Retuns a row as a Series.

### Modifying a DataFrame & some ops

In [ ]:
import numpy as np
array_like = [ [1, 3, 5], [7, 9, 11], [2, 4, 6], [np.nan, -1, 2.2] ]
df = pd.DataFrame(array_like, index=['ling', 'yi', 'er', 'san'], columns=['zero', 'one', 'two'])
print(df, '\n-----------------------1')

# Adding a col
new_col = [100, 200, 300, 400]
df['three'] = new_col
print(df, '\n-----------------------2')

# Simple ops
df['two'] *= 4
df['zero'] = df['two'] * 2
print(df, '\n-----------------------3')

## An example

### Reading a csv

In [1]:
import pandas as pd
# Reading a csv
filename = 'titanic_data.csv'
titanic_passengers = pd.read_csv(filename, index_col='PassengerId') # Otherwise indexing is gonna be automatic which is redundant here.

# Displaying
titanic_passengers.head(3) # Returns a DataFrame.
titanic_passengers.tail(3) # NB: print() does not give pretty output.

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

### Obtaining general info about the dataset

In [2]:
print(f'Shape (rows, cols): {titanic_passengers.shape}', '\n----------------------------------')
print(titanic_passengers.info(), '\n----------------------------------')
print(titanic_passengers.describe())

Shape (rows, cols): (891, 10)
----------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB
None
----------------------------------
           Pclass         Age       SibSp       Parch        Fare
count  891.000000  714.000000  891.000000  891.000000  891.000000
mean     2.308642   29.699118    0.523008    0.381594   32.204208
std      0.836071   14.526497    1.102743    0.806057   49.693429
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   20.125000    0.000000    0.000000    7.910400
50%      3.000000   28.000000    0.000000    0.000000   14.454200
75%      3.000000   38.000000    1.000000    0.000000   31.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200

### Operations on columns, grouping

In [3]:
# Remember that series support many numpy operations!
print(titanic_passengers['Age'].min(), titanic_passengers['Age'].mean(), titanic_passengers['Age'].max())
print('------------------------1')
# Count how many times each unique value occurs in a column. 
# How many men and women were there?
print(titanic_passengers['Sex'].value_counts()) # Returns a series, you can also call value_counts() on the df itself.
print('------------------------2')
# Grouping entries by some value. 
gr = titanic_passengers.groupby(['Pclass']) # Split the df into groups, you can do more than one.
print(gr.mean()) # Reutns a DataFrame.
print(gr['Age'].mean()) # Retuns a Series.

0.42 29.69911764705882 80.0
------------------------1
male      577
female    314
Name: Sex, dtype: int64
------------------------2
              Age     SibSp     Parch       Fare
Pclass
1       38.233441  0.416667  0.356481  84.154687
2       29.877630  0.402174  0.380435  20.662183
3       25.140620  0.615071  0.393075  13.675550
Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

/tmp/ipykernel_18802/4231093660.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(gr.mean()) # Reutns a DataFrame.

### Merging

In [9]:
import pandas as pd
import numpy as np
titanic_survivors = pd.read_csv('titanic_surv.csv')
print(titanic_survivors.head(2), '\n-------------1')

# Merging DataFrames, here we are merging by index.
titanic_survivors.index = np.arange(1, len(titanic_survivors) + 1) # So Indexes match.
print(titanic_survivors.head(2), '\n-------------2')

# Messing with the DataFrame.
titanic_survivors = titanic_survivors.sample(frac=1) # Return a sample df, frac=1 makes it return the whole df but mixed (no longer sorted).
# Even if the indexes are not sorted (but match!) join() will work:
titanic_passengers = titanic_passengers.join(titanic_survivors) # Restart the kernel to see it work.
titanic_passengers.head(5)

   Survived
0         0
1         1
-------------1
   Survived
1         0
2         1
-------------2

ValueError: columns overlap but no suffix specified: Index(['Survived'], dtype='object')

In [15]:
# How many people survived?
print(titanic_passengers['Survived'].sum()) 
print(titanic_passengers['Survived'].value_counts()[1]) # NOT COUNT_VALUES!
# ... there also was task 4. corr()

342
342

# Python

## Libs

### Glob

In [ ]:
import glob
!ls
g = glob.glob('*.ipynb') # Return a list of paths matching a pathname pattern.
print(g)
#help(glob)

### Collections

In [ ]:
from collections import defaultdict

d = defaultdict(float)
print( d.get('key', 'NONE') ) # Return the second param if not found. None by default. 
print(d['key'])               # Init an element with key 'key' with the default value of float.
d['just evoke']               # Regular dict breaks here.
print(d.items())

from collections import Counter 

counter = Counter() # == defaultdict(int)
for word in dir(__builtin__):
    for letter in word:
        #counter[letter] += 1
        counter.update(letter)
print(counter)
# help(Counter)

## ipynb

Shift + Tab - display help

In [ ]:
?str 
?np.median
# this is just a tldr of help(str)
np.co?

In [ ]:
!ls /

In [ ]:
%%time
arr = []
n = 10**7
for i in range(n):
    arr.append(i*5)

## Language features

### Map, reduce, filter

In [ ]:
## MAP - Map values from an iter to something else ##
a = [1, 2, 3]
b = [3, 2, 1]
a_sq_it      = map(lambda x: x*x, a) 
a_b_cross_it = map(lambda n, m: n * m, a, b)
print( tuple(a_sq), ' ', set(a_b_cross) ) # list
# help(map)

In [ ]:
## REDUCE - Apply a function of two arguments cumulatively to the items of a sequence
##   or iterable, so as to reduce the iterable to a single value.
from functools import reduce
c = [1, 2, 3, 4, 5]
c_cumsum = reduce(lambda x, y: x + y, c, -100)
print(c_cumsum)
# help(reduce)

In [ ]:
## FILTER - Return an iterator yielding those items of iterable for which predicate(item) is true ##
d = ['Hi', 'Oof', 'Wolf', 'Car', 'Yield', 'Yeet', 'Extemporaneous', 'Basic']
len_it = filter(lambda s: len(s) > 3, d)
print( tuple(len_it) )
#help(filter)

### dict (set is ez)

In [ ]:
## DICT COMPREHENSION
e = {x*x for x in range(2, 7)}     ## This is a SET
e = {x*x: x for x in range(2, 7)} ## This is a DICT
print(e.values(), e.keys(), e.items(), sep='\n')
# keys are x*x, values are x

In [ ]:
## BASIC SYNTAX
d = dict(key='key', value=2) # I wonder why that doesn't work :)
print(d.items())
if d.get('key') != None:     # d['key'] throws an exception here.
    print('key is present!')
else:
    print ('no key;(')

### Getting help

In [ ]:
# help(dict)

### Progress bar

In [ ]:
from tqdm.notebook import trange, tqdm 
# There is the ususal tqdm as well which is best suited for command line.
from time import sleep

# Simple progress bar
cnt = 0
for i in tqdm(range(1000)):
    sleep(0.001)
    cnt += 1
    
# Nested progress bars
for i in trange(10, desc='1st loop'): # trange(num) == tqdm(range(num))
    for j in trange(100, desc='Another description', leave=False):
        sleep(0.01)
        
# https://pypi.org/project/tqdm/
# help(tqdm)

### join

In [ ]:
sep = '<--->'
print(sep.join(['a', 'b', 'c']))

## Example homework code:
# def process(sentences):
#    return [' '.join(filter( lambda word: word.isalpha(), sen.split(' ') )) for sen in sentences]